<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/b418b73b5b.js" crossorigin="anonymous"></script>

    <title>Buscador de Empleos</title>

    <style media="screen">
      .card {
        width: 100%;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <br>
      <h1>Buscador de Empleos</h1>
      <br>

      <!-- Buscador -->
      <div class="input-group mb-3">
        <input id="query" type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar...">
        <div class="input-group-append">
          <button id="buscar" class="input-group-text btn btn-info" type="button" name="button">BUSCAR</button>
        </div>
      </div>

      <!-- Resultados -->
      <div class="row col-12 d-flex justify-content-center" id="resultados" style="margin: 0;padding: 0">

        <div class="col-12 text-center" style="margin-top:50px"><h1><i class="fas fa-spinner fa-pulse"></i></h1></div>

        <!--<div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5px">
          <div class="card shadow p-3 mb-5 bg-white rounded" onClick="Ver(123)">
            <div class="card-body">
              <div class="row col-12" style="margin: 0; padding: 0">
                <div class="col-4" style="margin: 0; padding: 0">
                  <img class="img-fluid" src="https://lh3.googleusercontent.com/proxy/QwV3eTA2zZQt57z2O3zQpV7HdUz6oJ_RfIIyznI7UIH1SgLipj64x6A8zvZOMhnArzh0EDicOWrHMCy2OLLZnJrEcKAl0dTWCcs9B-U4f-TTzkQy-lt-kAKcf01zj2Rafxzm9Yt7Ll50"
                  alt="Ministerio de Vivienda, Construcción y Saneamiento"
                  title="Ministerio de Vivienda, Construcción y Saneamiento">
                </div>
                <div class="col-8 result-title" style="padding-right: 0">JEFE DE LA UNIDAD DE ADMINISTRACIÓN TRIBUTARIA</div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="far fa-calendar-alt"></i> 13/03/2020</li>
                <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> AREQUIPA - SAN JUAN DE SIGUAS</li>
                <li class="list-group-item"><i class="fas fa-dollar-sign"></i> S/. 1,700.00</li>
              </ul>
              <br>
              <div class="row col-12" style="margin: 0; padding: 0">
                <div class="col-6" style="margin: 0; padding: 0">
                  <span>1 vacante</span>
                </div>
                <div class="col-6 text-right" style="margin: 0; padding: 0">
                  <button type="button" class="btn btn-info btn-sm">
                    <i class="fas fa-eye"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5px">
            <div class="card shadow p-3 mb-5 bg-white rounded" onClick="Ver(123)">
              <div class="card-body">
                <div class="row col-12" style="margin: 0; padding: 0">
                  <div class="col-4" style="margin: 0; padding: 0">
                    <img class="img-fluid" src="https://lh3.googleusercontent.com/proxy/QwV3eTA2zZQt57z2O3zQpV7HdUz6oJ_RfIIyznI7UIH1SgLipj64x6A8zvZOMhnArzh0EDicOWrHMCy2OLLZnJrEcKAl0dTWCcs9B-U4f-TTzkQy-lt-kAKcf01zj2Rafxzm9Yt7Ll50"
                    alt="Ministerio de Vivienda, Construcción y Saneamiento"
                    title="Ministerio de Vivienda, Construcción y Saneamiento">
                  </div>
                  <div class="col-8 result-title" style="padding-right: 0">APOYO EN LA DESCARGA PROCESAL DE LOS JUZGADOS PENALES / APOYO EN LOS ORGANOS JURISDICCIONALES (ASISTENCIA A LOS JUECES EN LAS ACTUACIONES Y DILIGENCIAS DEL JUZGADO)</div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i class="far fa-calendar-alt"></i> 13/03/2020</li>
                  <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> AREQUIPA - SAN JUAN DE SIGUAS</li>
                  <li class="list-group-item"><i class="fas fa-dollar-sign"></i> S/. 1,700.00</li>
                </ul>
                <br>
                <div class="row col-12" style="margin: 0; padding: 0">
                  <div class="col-6" style="margin: 0; padding: 0">
                    <span>1 vacante</span>
                  </div>
                  <div class="col-6 text-right" style="margin: 0; padding: 0">
                    <button type="button" class="btn btn-info btn-sm">
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

      </div>

      <!-- Modal Ver Oferta -->
      <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">

    $(function() {
      $.ajax({
        url: '../servir',
        success: function(data) {
          if(data.msg == 'ok') {
            $('#resultados').empty()
            data.data.forEach(function(item) {
              $('#resultados').append(
                '<div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5px">'+
                '  <div class="card shadow p-3 mb-5 bg-white rounded" onClick="Ver(' + item.id + ')">'+
                '    <div class="card-body">'+
                '      <div class="row col-12" style="margin: 0; padding: 0">'+
                '        <div class="col-4" style="margin: 0; padding: 0">'+
                '          <img class="img-fluid" src="' + item.img + '"'+
                '          alt="' + item.entidad + '"'+
                '          title="' + item.entidad + '">'+
                '        </div>'+
                '        <div class="col-8 result-title" style="padding-right: 0;height: 100px">' + item.titulo + '</div>'+
                '      </div>'+
                '      <ul class="list-group list-group-flush">'+
                '        <li class="list-group-item"><i class="far fa-calendar-alt"></i> ' + item.fecha + '</li>'+
                '        <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> ' + item.ubicacion + '</li>'+
                '        <li class="list-group-item"><i class="fas fa-dollar-sign"></i> ' + item.remuneracion + '</li>'+
                '      </ul>'+
                '      <br>'+
                '      <div class="row col-12" style="margin: 0; padding: 0">'+
                '        <div class="col-6" style="margin: 0; padding: 0">'+
                '          <span>' + item.vacantes + '</span>'+
                '        </div>'+
                '        <div class="col-6 text-right" style="margin: 0; padding: 0">'+
                '          <button type="button" class="btn btn-info btn-sm">'+
                '            <i class="fas fa-eye"></i>'+
                '          </button>'+
                '        </div>'+
                '      </div>'+
                '    </div>'+
                '  </div>'+
                '</div>'
              )
            })

            CardHover()
          }else{
            $('#resultados').html('<div class="col-12 text-center" style="margin-top:50px"><span>No hay rewsultados disponibles.</span></div>')
          }
        },
        error: function() {
          $('#resultados').html('<div class="col-12 text-center" style="margin-top:50px"><span>No hay resultados disponibles.</span></div>')
        }
      })
    })

      $('#buscar').click(function() {
        $('#resultados').html('<div class="col-12 text-center" style="margin-top:50px"><h1><i class="fas fa-spinner fa-pulse"></i></h1></div>')
        $.ajax({
          url: '../empleos/?q=' + $('#query').val(),
          success: function(data) {
            if(data.msg == 'ok') {
              $('#resultados').empty()
              data.data.forEach(function(item) {
                $('#resultados').append(
                  '<div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5px">'+
                  '  <div class="card shadow p-3 mb-5 bg-white rounded" onClick="Ver(' + item.id + ')">'+
                  '    <div class="card-body">'+
                  '      <div class="row col-12" style="margin: 0; padding: 0">'+
                  '        <div class="col-4" style="margin: 0; padding: 0">'+
                  '          <img class="img-fluid" src="' + item.img + '"'+
                  '          alt="' + item.entidad + '"'+
                  '          title="' + item.entidad + '">'+
                  '        </div>'+
                  '        <div class="col-8 result-title" style="padding-right: 0">' + item.titulo + '</div>'+
                  '      </div>'+
                  '      <ul class="list-group list-group-flush">'+
                  '        <li class="list-group-item"><i class="far fa-calendar-alt"></i> ' + item.fecha + '</li>'+
                  '        <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> ' + item.ubicacion + '</li>'+
                  '        <li class="list-group-item"><i class="fas fa-dollar-sign"></i> ' + item.remuneracion + '</li>'+
                  '      </ul>'+
                  '      <br>'+
                  '      <div class="row col-12" style="margin: 0; padding: 0">'+
                  '        <div class="col-6" style="margin: 0; padding: 0">'+
                  '          <span>' + item.vacantes + '</span>'+
                  '        </div>'+
                  '        <div class="col-6 text-right" style="margin: 0; padding: 0">'+
                  '          <button type="button" class="btn btn-info btn-sm">'+
                  '            <i class="fas fa-eye"></i>'+
                  '          </button>'+
                  '        </div>'+
                  '      </div>'+
                  '    </div>'+
                  '  </div>'+
                  '</div>'
                )
              })
              CardHover()
            }else{
              $('#resultados').html('<div class="col-12 text-center" style="margin-top:50px"><span>No hay rewsultados disponibles.</span></div>')
            }
          },
          error: function() {
            $('#resultados').html('<div class="col-12 text-center" style="margin-top:50px"><span>No hay resultados disponibles.</span></div>')
          }
        })
      })

      function CardHover() {
        $('.card').hover(
          function() {
            $(this).addClass('shadow-lg').css('cursor', 'pointer');
          }, function() {
            $(this).removeClass('shadow-lg');
          }
        )
      }

      function Ver(id) {
        $.ajax({
          url: '../empleos/' + id,
          success: function(data) {
            if(data.msg == 'ok') {
              var data = data.data
              $('.modal-body').append(
                '<h5 class="text-center">' + data.titulo + '</h5>'+
                '<div class="row col-12" style="margin: 0; padding: 0">'+
                '  <div class="col-2" style="margin: 0; padding: 0">'+
                '    <img class="img-fluid" src="' + data.img + '"'+
                '    alt="' + data.entidad + '"'+
                '    title="' + data.entidad + '">'+
                '  </div>'+
                '  <div class="col-10" style="padding-right: 0">'+
                '    <h6>' + data.entidad + '</h6>'+
                '    <div class="col-12 text-right" style="margin: 0; padding: 0">'+
                '      <small><b>' + data.codigo + '</b></small>'+
                '    </div>'+
                '  </div>'+
                '</div>'+
                '<br>'+

                '<h5>Requisitos</h5>'+
                '<ul class="requisitos">'+
                '</ul>'+

                '<h5>Detalles</h5>'+
                '<div class="col-12 text-center detalles" style="margin: 0; padding: 0">'+
                '</div>'+

                '<ul class="list-group list-group-flush">'+
                '  <li class="list-group-item"><i class="far fa-calendar-alt"></i> ' + data.fecha + '</li>'+
                '  <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> ' + data.ubicacion + '</li>'+
                '  <li class="list-group-item"><i class="fas fa-dollar-sign"></i> ' + data.remuneracion + '</li>'+
                '  <li class="list-group-item"><i class="fas fa-users"></i> ' + data.vacantes + '</li>'+
                '</ul>')

                data.requisitos.forEach(function(item) {
                  $('.requisitos').append(
                  '  <li>'+
                  '    <span style="font-size: 12px">' + item + '</span>'+
                  '  </li>')
                })

                data.detalles.forEach(function(item) {
                  $('.detalles').append(item)
                })

            }else{
              $('.modal-body').append('<div class="col-12 text-center"><span class="text-danger"><b>OCURRIÓ UN ERROR AL CARGAR LA DESCRIPCIÓN</b></span></div>')
            }
            $('#modal').modal()
          },
          error: function() {
            $('.modal-body').append('<div class="col-12 text-center"><span class="text-danger"><b>OCURRIÓ UN ERROR AL CARGAR LA DESCRIPCIÓN</b></span></div>')
            $('#modal').modal()
          }
        })

        $('#modal').empty()
        $('#modal').append(
          '<div class="modal-dialog" role="document">'+
          '  <div class="modal-content">'+
          '    <div class="modal-header">'+
          '      <h5 class="modal-title">Descripción</h5>'+
          '      <button type="button" class="close" data-dismiss="modal" aria-label="Close">'+
          '        <span aria-hidden="true">&times;</span>'+
          '      </button>'+
          '    </div>'+
          '    <div class="modal-body">'+
          '    </div>'+
          '    <div class="modal-footer text-left">'+
          '      <button type="button" class="btn btn-info btn-sm mr-auto" onClick="VistaPrevia(' + id + ')"><i class="fas fa-eye"></i> Vista Previa</button>'+
          '      <button type="button" class="btn btn-success btn-sm" onClick="Descargar(' + id + ')"><i class="fas fa-download"></i> Descargar</button>'+
          '      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>'+
          '    </div>'+
          '  </div>'+
          '</div>'
        )
      }

      function VistaPrevia(id) {
        $('.modal-title').text('Vista Previa')

        $('.modal-body').html('<div class="col-12 text-center"><h4><i class="fas fa-spinner fa-pulse"></i></h4></div>')

        $('.modal-footer').html(
          '      <button type="button" class="btn btn-info btn-sm mr-auto" onClick="Publicar(' + id + ')"><i class="fas fa-upload"></i> Publicar</button>'+
          '      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>'
        )

        $('.modal-body').html(
          '<object data="../preview/BCRP - Asitente Administrativo de Jefatura.pdf" type="application/pdf" width="100%" height="700px"> '+
          '  <p>No se puede visualizar. <a href="../preview/BCRP - Asitente Administrativo de Jefatura.pdf">Haga clic aquí para descargar.</a></p>'+
          '</object>')
      }

      function Descargar(id) {
        alert('Descargar')
      }

      function Publicar(id) {
        alert('Publicar')
      }
    </script>
  </body>
</html>
